<div class="user-greeting">
  {{#if isAdmin}}
    <h2>Hello, admin {{username}}</h2>
  {{else}}
    <h2>Hello,  user {{username}}</h2>
  {{/if}}
</div>
<div class="main_content">
	<h1>
		Create Post
	</h1>
	<form action="/submit-post" method="post" enctype="multipart/form-data">
		<textarea class="title-box" wrap="soft" placeholder="Title..." name="title" ></textarea>
		<textarea class="content-box" wrap="soft" placeholder="Write content..." name="textContent"></textarea>
		<div class="comment-buttons"> 
			<input type="file" value="Attach media" class="post-upload-image" accept="image/*" name="imageContent"/> 
			<input type="submit" value="Publish Post" class="submit-post" value="SUBMIT" />
		</div>
	</form>
	{{> status_msg}}
</div>

<div class="post-thread">
	Click on thread to view post<br>
	<h1>
		Pinned Posts
	</h1><br>
	
	{{#each posts}}
		{{#if this.isPinned}}
    		{{#unless this.isDeleted}}
      			{{> post this}}
				{{#if ../isAdmin}}
                    <form action="/admin/unpin-post" method="post">
                        <input type="hidden" name="postId" value="{{this.PostID}}">
                        <button type="submit">Unpin</button>
                    </form>
                    <form action="/admin/delete-post" method="post">
                        <input type="hidden" name="postId" value="{{this.PostID}}">
                        <button type="submit">Delete</button>
                    </form>
                {{/if}}
    		{{/unless}}
		{{/if}}
  	{{/each}}

	<br>
	<h1>
		Latest Posts
	</h1><br>

	{{#each posts}}
    	{{#unless this.isDeleted}}
			{{#unless this.isPinned}}
      			{{> post this}}
				{{#if ../isAdmin}}
                    <form action="/admin/pin-post" method="post">
                        <input type="hidden" name="postId" value="{{this.PostID}}">
                        <button type="submit">Pin</button>
                    </form>
                    <form action="/admin/delete-post" method="post">
                        <input type="hidden" name="postId" value="{{this.PostID}}">
                        <button type="submit">Delete</button>
                    </form>
                {{/if}}
    		{{/unless}}
    	{{/unless}}
  	{{/each}}
</div>
